.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
}

.loading-content {
  display: flex;
  align-items: center;
  gap: 10px!important;
  position: relative;
}

/* Logo Image */
.loading-logo {
  z-index: 2;
}

.logo-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  filter: drop-shadow(0 0 30px rgba(2, 112, 234, 0.5));
}

/* Text Content */
.loading-text-content {
  text-align: left;
}

.loading-title {
  margin: 0;
  line-height: 0; /* h1 ka default line-height image ke neeche extra gap na chhode */
}

.loading-title img {
  width: 280px;      /* apni image ke hisab se adjust karo */
  height: auto;
  display: block;
}

.loading-subtitle {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-base);
  color: var(--color-steel-main);
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
  font-weight: var(--font-weight-light);
}

.loading-subtitle img{
  width: 240px;
  height: auto;
  margin-left: 5px;
}